// Header Section
// --------------------------------------------------
.header {
  background: $head-bg;
  // 适配wave 波浪
  line-height 0;
  // 背景图片延迟渲染的过渡特性
  opacity: 0;
  background-size: cover;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
// 背景图片延迟渲染的过渡特性
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.header-inner {
  margin: 0 auto;
  width: $content-desktop;

  +desktop-large() {
    width: $content-desktop-large;
  }

  +desktop-largest() {
    width: $content-desktop-largest;
  }
}

.site-brand-container {
  display: flex;
  flex-shrink: 0;
  padding: 0 10px;
}

@import 'headerband';
@import 'site-meta';
@import 'site-nav';
@import 'menu';

@import 'bookmark' if (hexo-config('bookmark.enable'));

@import 'github-banner' if (hexo-config('github_banner.enable'));
